@import "tailwindcss";

@theme {
  /* Khai báo màu sắc */
  --color-primary: #1e2772;
  --color-primary-dark: #11267F;
  --color-secondary: #f7a83a;
  
  --color-surface: #f5f5f5;
  --color-surface-text: #555555;

  --font-sans: var(--font-poppins), sans-serif;
}

@layer base {
  body {
    background-color: #ffffff;
    color: var(--color-surface-text);
  }
}